.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
}

.title {
    font-size: 26px;
    font-weight: 800;
}

.btn {
    margin-right: 0.5rem;
}

#searchBar {
    width: 40rem;
    border-radius: 10px;
}